@using System.Web
@model edu.Models.NewsCat

@{
    ViewData["Title"] = "IUMC";
    Layout = "~/Views/Shared/_Layoutnews.cshtml";
}


<div class="gdlr-core-item-list gdlr-core-blog-full  gdlr-core-item-mglr gdlr-core-style-left">

    <div class="gdlr-core-blog-full-head clearfix">
        <div class="gdlr-core-blog-full-head-right">
            <h3 class="gdlr-core-blog-title gdlr-core-skin-title" style="font-size: 28px ;font-weight: 800 ;letter-spacing: 0px ;">@Html.DisplayFor(model => model.Txtname)</h3>
        </div>
    </div>
    <div class="gdlr-core-blog-content">
        @Html.Raw(HttpUtility.HtmlDecode(Model.Txtcontent))
    </div>
</div>


