@using edu.Views.Shared

<!DOCTYPE html>
<html>
<title>ADMIN</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-teal.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">

<link href="https://cdn.kendostatic.com/2022.1.119/styles/kendo.bootstrap-main.min.css" rel="stylesheet" type="text/css" />
<script src="https://cdn.kendostatic.com/2022.1.119/js/jquery.min.js"></script>
<script src="https://cdn.kendostatic.com/2022.1.119/js/jszip.min.js"></script>
<script src="https://cdn.kendostatic.com/2022.1.119/js/kendo.all.min.js"></script>
<script src="https://cdn.kendostatic.com/2022.1.119/js/kendo.aspnetmvc.min.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js" > </script >
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" > </script >
    body {
        font-family: "Roboto", sans-serif
    }

    .w3-bar-block .w3-bar-item {
        padding: 16px;
        font-weight: bold;
    }

    <style >
    .vertical-menu {
        list-style-type: none;
        padding: 0;
        /* Set the width of the menu */
        background-color: #f1f1f1; /* Set the background color */
    }

    .vertical-menu li a {
        display: block;
        padding: 8px 16px;
        text-decoration: none;
        color: black;
    }

        .vertical-menu li a:hover {
            background-color: #ddd; /* Add a hover effect */
        }


    .w3-theme {
        color: #fff !important;
        background-image: -webkit-gradient(linear, left top, right top, from(#a376fc), to(#f96f9b));
        background-image: -webkit-linear-gradient(left, #a376fc, #f96f9b);
        background-image: -moz-linear-gradient(left, #a376fc, #f96f9b);
        background-image: -o-linear-gradient(left, #a376fc, #f96f9b);
        background-image: linear-gradient(to right, #a376fc, #f96f9b);
        background-repeat: repeat-x;
    }

    .w3-teal, .w3-hover-teal:hover {
        color: #fff !important;
        background-color: #f96f9b !important;
    }
</style>

<body>

    <nav class="w3-sidebar w3-bar-block w3-collapse w3-animate-left w3-card" style="z-index:3;width:250px;" id="mySidebar">
        <h2 style="text-align: center;"><A href="~/NewsCats">ADMIN</A> </h2><HR />
        <ul class="w3-navbar vertical-menu">
            <component type="typeof(Menuview)" render-mode="ServerPrerendered" />
        </ul>
        <HR />
        <div style=" bottom: 0;width: 100%;">
            <h2 style="text-align: center;">
                <a href="~/NewsCats/create">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 32 32">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4" />
                    </svg>
                </a>
            </h2><HR />
        </div>
    </nav>

    <div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" id="myOverlay"></div>

    <div class="w3-main" style="margin-left:250px;">

        <div id="myTop" class="w3-container w3-top">
            <p>
                <i class="fa fa-bars w3-button w3-teal w3-hide-large w3-xlarge" onclick="w3_open()"></i>
                <span id="myIntro" class="w3-hide">W3.CSS: Introduction</span>
            </p>
        </div>

        <header class="w3-container w3-theme" style="padding:16px 16px">
         
            <h5 class=" pull-right">
                <a href="#">НУУЦ ҮГ</a> |
                <a href="~/">ГАРАХ>></a>
            </h5>
        </header>

        <div class="container " style="padding:32px">
                @RenderBody()

                @*  <div class="w3-panel w3-light-grey w3-padding-16 w3-card">

            </div> *@

                @*   <div class="w3-container w3-padding-16 w3-card" style="background-color:#eee">
            <h3 class="w3-center">Blog Template</h3>
            <div class="w3-content" style="max-width:800px">
            <img src="img_temp_blog.jpg" style="width:98%;margin:20px 0" alt="Blog Template"><br>
            <div class="w3-row">
            <div class="w3-col m6">
            <a href="tryw3css_templates_blog.htm" target="_blank" class="w3-button w3-padding-large w3-dark-grey" style="width:98.5%">Demo</a>
            </div>
            <div class="w3-col m6">
            <a href="w3css_templates.asp" class="w3-button w3-padding-large w3-dark-grey" style="width:98.5%">More Templates &raquo;</a>
            </div>
            </div>
            </div>
            </div>
            *@
        </div>

        <footer class="w3-container w3-theme" style="padding:15px; position: fixed;bottom: 0;width: 100%;">
            <p>TB</p>
        </footer>

    </div>

    <script>
        // Open and close the sidebar on medium and small screens
        function w3_open() {
          document.getElementById("mySidebar").style.display = "block";
          document.getElementById("myOverlay").style.display = "block";
        }

        function w3_close() {
          document.getElementById("mySidebar").style.display = "none";
          document.getElementById("myOverlay").style.display = "none";
        }

        // Change style of top container on scroll
        // window.onscroll = function() {myFunction()};
        // function myFunction() {
        //   if (document.body.scrollTop > 80 || document.documentElement.scrollTop > 80) {
        //     document.getElementById("myTop").classList.add("w3-card-4", "w3-animate-opacity");
        //     document.getElementById("myIntro").classList.add("w3-show-inline-block");
        //   } else {
        //     document.getElementById("myIntro").classList.remove("w3-show-inline-block");
        //     document.getElementById("myTop").classList.remove("w3-card-4", "w3-animate-opacity");
        //   }
        // }

        // Accordions
        function myAccordion(id) {
          var x = document.getElementById(id);
          if (x.className.indexOf("w3-show") == -1) {
            x.className += " w3-show";
            x.previousElementSibling.className += " w3-theme";
          } else {
            x.className = x.className.replace("w3-show", "");
            x.previousElementSibling.className =
            x.previousElementSibling.className.replace(" w3-theme", "");
          }
        }
    </script>

</body>
</html>








<script src="~/js/site.js" asp-append-version="true"></script>

@RenderSection("Scripts", required: false)
