@using System.Security.Claims
@using edu.Views.Shared

<!DOCTYPE html>
<html lang="mn-MN" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>IUMC</title>

    <link rel='stylesheet' href='../../im\max-themes.net\demos\kingster\kingster\plugins\goodlayers-core\plugins\combine/style.css' type='text/css' media='all' />
    <link rel='stylesheet' href='../../im\max-themes.net\demos\kingster\kingster\plugins\goodlayers-core\include\css/page-builder.css' type='text/css' media='all' />
    <link rel='stylesheet' href='../../im\max-themes.net\demos\kingster\kingster\plugins\revslider\public\assets\css/settings.css' type='text/css' media='all' />
    <link rel='stylesheet' href='../../im/max-themes.net/demos/kingster/kingster/css/style-core.css' type='text/css' media='all' />
    <link rel='stylesheet' href='../../im/max-themes.net/demos/kingster/kingster/css/kingster-style-custom.css' type='text/css' media='all' />

    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700%2C400" rel="stylesheet" property="stylesheet" type="text/css" media="all">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Poppins%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2Cregular%2Citalic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7CABeeZee%3Aregular%2Citalic&amp;subset=latin%2Clatin-ext%2Cdevanagari&amp;ver=5.0.3' type='text/css' media='all' />

</head>

<body class="home page-template-default page page-id-2039 gdlr-core-body woocommerce-no-js tribe-no-js kingster-body kingster-body-front kingster-full  kingster-with-sticky-navigation  kingster-blockquote-style-1 gdlr-core-link-to-lightbox">
    <div class="kingster-mobile-header-wrap">
        <div class="kingster-mobile-header kingster-header-background kingster-style-slide kingster-sticky-mobile-navigation " id="kingster-mobile-header">
            <div class="kingster-mobile-header-container kingster-container clearfix">
                <div class="kingster-logo  kingster-item-pdlr">
                    <div class="kingster-logo-inner">
                        <a class="" href="/"><img src="../../images/logo.png" alt="" /></a>
                    </div>
                </div>
                <div class="kingster-mobile-menu-right">
                    <div class="kingster-main-menu-search" id="kingster-mobile-top-search"><i class="fa fa-search"></i></div>
                    <div class="kingster-top-search-wrap">
                        <div class="kingster-top-search-close"></div>
                        <div class="kingster-top-search-row">
                            <div class="kingster-top-search-cell">
                                <form role="search" method="get" class="search-form" action="#">
                                    <input type="text" class="search-field kingster-title-font" placeholder="Хайх..." value="" name="s">
                                    <div class="kingster-top-search-submit"><i class="fa fa-search"></i></div>
                                    <input type="submit" class="search-submit" value="Хайх">
                                    <div class="kingster-top-search-close"><i class="icon_close"></i></div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="kingster-mobile-menu">
                        <a class="kingster-mm-menu-button kingster-mobile-menu-button kingster-mobile-button-hamburger" href="#kingster-mobile-menu"><span></span></a>
                        <div class="kingster-mm-menu-wrap kingster-navigation-font" id="kingster-mobile-menu" data-slide="right">
                            <ul id="menu-main-navigation" class="m-menu">
                                <li class="menu-item menu-item-home current-menu-item menu-item-has-children">
                                    <a href="index.html">Нүүр</a>
                                    <ul class="sub-menu">
                                        <li class="menu-item menu-item-home"><a href="index.html">Нүүр хуудас 1</a></li>
                                        <li class="menu-item"><a href="homepage-2.html">Нүүр хуудас 2</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item menu-item-has-children">
                                    <a href="#">Хуудаснууд</a>
                                    <ul class="sub-menu">
                                        <li class="menu-item"><a href="about-us.html">KU-ийн тухай</a></li>
                                        <li class="menu-item menu-item-has-children">
                                            <a href="blog-full-right-sidebar-with-frame.html">Блог</a>
                                            <ul class="sub-menu">
                                                <li class="menu-item menu-item-has-children">
                                                    <a href="blog-full-right-sidebar-with-frame.html">Блог (Бүрэн)</a>
                                                    <ul class="sub-menu">
                                                        <li class="menu-item"><a href="blog-full-right-sidebar-with-frame.html">Блог - баруун талын самбар (рамтай)</a></li>
                                                        <li class="menu-item"><a href="blog-full-left-sidebar-with-frame.html">Блог - зүүн талын самбар (рамтай)</a></li>
                                                        <li class="menu-item"><a href="blog-full-both-sidebar-with-frame.html">Блог - хоёулангийн самбар (рамтай)</a></li>
                                                        <li class="menu-item"><a href="blog-full-right-sidebar.html">Блог - баруун талын самбар</a></li>
                                                        <li class="menu-item"><a href="blog-full-left-sidebar.html">Блог - зүүн талын самбар</a></li>
                                                        <li class="menu-item"><a href="blog-full-both-sidebar.html">Блог - хоёулангийн самбар</a></li>
                                                    </ul>
                                                </li>
                                                <li class="menu-item menu-item-has-children">
                                                    <a href="blog-grid-3-columns-no-space.html">Блог тор</a>
                                                    <ul class="sub-menu">
                                                        <li class="menu-item"><a href="blog-grid-2-columns.html">Блог тор 2 багана</a></li>
                                                        <li class="menu-item"><a href="blog-grid-3-columns.html">Блог тор 3 багана</a></li>
                                                        <li class="menu-item"><a href="blog-grid-4-columns.html">Блог тор 4 багана</a></li>
                                                        <li class="menu-item"><a href="blog-grid-2-columns-no-space.html">Блог тор 2 багана зайгүй</a></li>
                                                        <li class="menu-item"><a href="blog-grid-3-columns-no-space.html">Блог тор 3 багана зайгүй</a></li>
                                                        <li class="menu-item"><a href="blog-grid-4-columns-no-space.html">Блог тор 4 багана зайгүй</a></li>
                                                    </ul>
                                                </li>

                                                <li class="menu-item"><a href="standard-post-type.html">Нэг бичлэг</a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-item menu-item-has-children">
                                            <a href="#">Холбоо</a>
                                            <ul class="sub-menu">
                                                <li class="menu-item"><a href="contact.html">Холбоо</a></li>
                                                <li class="menu-item"><a href="contact-2.html">Холбоо 2</a></li>
                                                <li class="menu-item"><a href="contact-3.html">Холбоо 3</a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-item menu-item-has-children">
                                            <a href="portfolio-3-columns.html">Портфолио</a>
                                            <ul class="sub-menu">
                                                <li class="menu-item menu-item-has-children">
                                                    <a>Портфолио тор</a>
                                                    <ul class="sub-menu">
                                                        <li class="menu-item"><a href="portfolio-2-columns.html">Портфолио 2 багана</a></li>
                                                        <li class="menu-item"><a href="portfolio-3-columns.html">Портфолио 3 багана</a></li>
                                                        <li class="menu-item"><a href="portfolio-4-columns.html">Портфолио 4 багана</a></li>
                                                        <li class="menu-item"><a href="portfolio-5-columns.html">Портфолио 5 багана</a></li>
                                                        <li class="menu-item"><a href="portfolio-2-columns-with-frame.html">Портфолио 2 багана (рамтай)</a></li>
                                                        <li class="menu-item"><a href="portfolio-3-columns-with-frame.html">Портфолио 3 багана (рамтай)</a></li>
                                                        <li class="menu-item"><a href="portfolio-4-columns-with-frame.html">Портфолио 4 багана (рамтай)</a></li>
                                                        <li class="menu-item"><a href="portfolio-2-columns-no-space.html">Портфолио 2 багана зайгүй</a></li>
                                                        <li class="menu-item"><a href="portfolio-3-columns-no-space.html">Портфолио 3 багана зайгүй</a></li>
                                                        <li class="menu-item"><a href="portfolio-4-columns-no-space.html">Портфолио 4 багана зайгүй</a></li>
                                                        <li class="menu-item"><a href="portfolio-5-columns-no-space.html">Портфолио 5 багана зайгүй</a></li>
                                                    </ul>
                                                </li>
                                                <li class="menu-item menu-item-has-children">
                                                    <a>Portfolio Masonry</a>
                                                    <ul class="sub-menu">
                                                        <li class="menu-item"><a href="portfolio-masonry-4-columns.html">Masonry 4 багана</a></li>
                                                        <li class="menu-item"><a href="portfolio-masonry-3-columns.html">Masonry 3 багана</a></li>
                                                        <li class="menu-item"><a href="portfolio-masonry-2-columns.html">Masonry 2 багана</a></li>
                                                        <li class="menu-item"><a href="portfolio-masonry-4-columns-no-space.html">Masonry 4 багана зайгүй</a></li>
                                                        <li class="menu-item"><a href="portfolio-masonry-3-columns-no-space.html">Masonry 3 багана зайгүй</a></li>
                                                        <li class="menu-item"><a href="portfolio-masonry-2-columns-no-space.html">Masonry 2 багана зайгүй</a></li>
                                                    </ul>
                                                </li>

                                                <li class="menu-item menu-item-has-children"><a class="sf-with-ul-pre" href="singleportfolio.html">Нэг портфолио</a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-item"><a href="gallery.html">Галерей</a></li>
                                        <li class="menu-item"><a href="price-table.html">Үнэ хүснэгт</a></li>
                                        <li class="menu-item"><a href="maintenance.html">Засвар үйлчилгээ</a></li>
                                        <li class="menu-item"><a href="coming-soon.html">Удахгүй ирнэ</a></li>
                                        <li class="menu-item"><a href="404.html">404 Хуудас</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item menu-item-has-children">
                                    <a href="bachelor-of-science-in-business-administration.html">Академик</a>
                                    <ul class="sub-menu">
                                        <li class="menu-item menu-item-has-children">
                                            <a>Бакалавр</a>
                                            <ul class="sub-menu">
                                                <li class="menu-item"><a href="bachelor-of-science-in-business-administration.html">Бизнесийн удирдлага</a></li>
                                                <li class="menu-item"><a href="school-of-law.html">Хууль зүйн сургууль</a></li>
                                                <li class="menu-item"><a href="engineering.html">Инженерчлэл</a></li>
                                                <li class="menu-item"><a href="medicine.html">Анагаах ухаан</a></li>
                                                <li class="menu-item"><a href="art-science.html">Урлаг ба Шинжлэх ухаан</a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-item menu-item-has-children">
                                            <a href="#">Магистр хөтөлбөр</a>
                                            <ul class="sub-menu">
                                                <li class="menu-item"><a href="hospitality-management.html">Зочид буудал удирдлага</a></li>
                                                <li class="menu-item"><a href="physics.html">Физик</a></li>
                                                <li class="menu-item"><a href="#">Хими</a></li>
                                                <li class="menu-item"><a href="#">Хөгжим</a></li>
                                                <li class="menu-item"><a href="#">Компьютерийн ухаан</a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-item menu-item-has-children">
                                            <a href="#">Нөөц</a>
                                            <ul class="sub-menu">
                                                <li class="menu-item"><a href="bachelor-of-science-in-business-administration.html">Тэнхимийн хуудас</a></li>
                                                <li class="menu-item"><a href="finance.html">Мэргэжлийн хуудас</a></li>
                                                <li class="menu-item"><a href="finance-faculty.html">Багшийн хуудас</a></li>
                                                <li class="menu-item"><a href="john-hagensy-phd.html">Нэг багш</a></li>
                                                <li class="menu-item"><a href="introduction-to-financial-accounting.html">Нэг хичээл</a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-item"><a href="#">Лого</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item menu-item-has-children">
                                    <a href="apply-to-kingster.html">Элсэлтийн</a>
                                    <ul class="sub-menu">
                                        <li class="menu-item"><a href="apply-to-kingster.html">Kingster-д өргөдөл гаргах</a></li>
                                        <li class="menu-item"><a href="campus-tour.html">Кампус тойрог</a></li>
                                        <li class="menu-item"><a href="scholarships.html">Тэтгэлэг</a></li>
                                        <li class="menu-item"><a href="athletics.html">Спорт</a></li>
                                        <li class="menu-item"><a href="give-to-kingster.html">Kingster-д хандив</a></li>
                                        <li class="menu-item"><a href="alumni.html">Төгсөгчид</a></li>
                                        <li class="menu-item"><a href="event-calendar.html">Үйл явдлын хуанли</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item menu-item-has-children">
                                    <a href="#">Хичээлүүд</a>
                                    <ul class="sub-menu">
                                        <li class="menu-item"><a href="course-list-1.html">Хичээлийн жагсаалт 1</a></li>
                                        <li class="menu-item"><a href="course-list-2.html">Хичээлийн жагсаалт 2</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item"><a href="athletics.html">Спорт</a></li>
                                <li class="menu-item"><a href="university-life.html">Их сургуулийн амьдрал</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="kingster-body-outer-wrapper ">
        <div class="kingster-body-wrapper clearfix  kingster-with-frame">
            <div class="kingster-top-bar">
                <div class="kingster-top-bar-background"></div>
                <div class="kingster-top-bar-container kingster-container ">
                    <div class="kingster-top-bar-container-inner clearfix">
                        <div class="kingster-top-bar-left kingster-item-pdlr"><i class="fa fa-envelope-open-o" style="font-size: 15px ;color: #96a2b8 ;margin-right: 8px ;"></i> contact@KUTheme.edu <i class="fa fa-phone" style="font-size: 15px ;color: #96a2b8 ;margin-left: 18px ;margin-right: 6px ;"></i> +1-3435-2356-222</div>
                        <div class="kingster-top-bar-right kingster-item-pdlr">
                            <ul id="kingster-top-bar-menu" class="sf-menu kingster-top-bar-menu kingster-top-bar-right-menu">
                                <li class="menu-item kingster-normal-menu"><a href="#">Төгсөгчид</a></li>
                                <li class="menu-item kingster-normal-menu"><a href="#">Календар</a></li>
                                <li class="menu-item kingster-normal-menu"><a href="#">Портал</a></li>
                            </ul>
                            <div class="kingster-top-bar-right-social"></div><a class="kingster-top-bar-right-button" href="#" target="_blank">KU-ийг дэмжих</a>
                        </div>
                    </div>
                </div>
            </div>
            <header class="kingster-header-wrap kingster-header-style-plain  kingster-style-menu-right kingster-sticky-navigation kingster-style-fixed" data-navigation-offset="75px">
                <div class="kingster-header-background"></div>
                <div class="kingster-header-container  kingster-container">
                    <div class="kingster-header-container-inner clearfix">
                        <div class="kingster-logo  kingster-item-pdlr">
                            <div class="kingster-logo-inner">
                                <a class="" href="/"><img src="../../images/logo.png" alt="" /></a>
                            </div>
                        </div>
                            <component type="typeof(Menucat)" render-mode="ServerPrerendered" />
                            
                    </div>
                </div>
            </header>


        
            <div class="kingster-page-title-wrap  kingster-style-medium kingster-center-align">
                <div class="kingster-header-transparent-substitute"></div>
                <div class="kingster-page-title-overlay"></div>
                <div class="kingster-page-title-container kingster-container">
                    <div class="kingster-page-title-content kingster-item-pdlr">
                        <div class="kingster-page-caption">Тайлбар энд</div>
                        <h1 class="kingster-page-title">Блог - баруун талын самбар</h1>
                    </div>
                </div>
            </div>


            <div class="kingster-page-wrapper" id="kingster-page-wrapper">
                <div class="kingster-content-container kingster-container">
                    <div class=" kingster-sidebar-wrap clearfix kingster-line-height-0 kingster-sidebar-style-both">
                        <div class=" kingster-sidebar-center kingster-column-45 kingster-line-height">
                            <div class="gdlr-core-page-builder-body">
                                <div class="gdlr-core-pbf-section">
                                    <div class="gdlr-core-pbf-section-container gdlr-core-container clearfix">
                                        <div class="gdlr-core-pbf-element">
                                            <div class="gdlr-core-blog-item gdlr-core-item-pdb clearfix  gdlr-core-style-blog-full" style="padding-bottom: 40px ;">
                                                <div class="gdlr-core-blog-item-holder gdlr-core-js-2 clearfix" data-layout="fitrows">
                                                    @RenderBody()

                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class=" kingster-sidebar-left kingster-column-15 kingster-line-height kingster-line-height">
                            <div class="kingster-sidebar-area kingster-item-pdlr">
                                <div id="text-7" class="widget widget_text kingster-widget">
                                    <h3 class="kingster-widget-title">Текст виджет</h3><span class="clear"></span>
                                    <div class="textwidget">
                                        <p>Nullam quis risus eget urna mollis ornare vel eu leo. Nullam id dolor id nibh ultricies vehicula ut id elit. Donec ullamcorper nulla non metus auctor fringilla. Maecenas sed diam eget.</p>
                                    </div>
                                </div>
                                <div id="gdlr-core-recent-portfolio-widget-2" class="widget widget_gdlr-core-recent-portfolio-widget kingster-widget">
                                    <h3 class="kingster-widget-title">Бидний ажлууд</h3><span class="clear"></span>
                                    <div class="gdlr-core-recent-portfolio-widget-wrap clearfix">
                                        <div class="gdlr-core-recent-portfolio-widget gdlr-core-media-image">
                                            <a href="#"><img src="upload/shutterstock_53600224-150x150.jpg" alt="" width="150" height="150" title="shutterstock_53600224" /><span class="gdlr-core-image-overlay "><i class="gdlr-core-image-overlay-icon gdlr-core-size-15 icon_link_alt"></i></span></a>
                                        </div>
                                        <div class="gdlr-core-recent-portfolio-widget gdlr-core-media-image">
                                            <a href="#"><img src="upload/rawpixel-577480-unsplash-1-150x150.jpg" alt="" width="150" height="150" title="rawpixel-577480-unsplash" /><span class="gdlr-core-image-overlay "><i class="gdlr-core-image-overlay-icon gdlr-core-size-15 icon_link_alt"></i></span></a>
                                        </div>
                                        <div class="gdlr-core-recent-portfolio-widget gdlr-core-media-image">
                                            <a href="#"><img src="upload/pexels-photo-150x150.jpg" alt="" width="150" height="150" title="pexels-photo" /><span class="gdlr-core-image-overlay "><i class="gdlr-core-image-overlay-icon gdlr-core-size-15 icon_link_alt"></i></span></a>
                                        </div>
                                        <div class="gdlr-core-recent-portfolio-widget gdlr-core-media-image">
                                            <a href="#"><img src="upload/training-train-lime-barbell-39688-150x150.jpg" alt="" width="150" height="150" title="training-train-lime-barbell-39688" /><span class="gdlr-core-image-overlay "><i class="gdlr-core-image-overlay-icon gdlr-core-size-15 icon_link_alt"></i></span></a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer>
                <div class="kingster-footer-wrapper ">
                    <div class="kingster-footer-container kingster-container clearfix">
                        <div class="kingster-footer-column kingster-item-pdlr kingster-column-15">
                            <div id="text-2" class="widget widget_text kingster-widget">
                                <div class="textwidget">
                                    <p>
                                        <img src="im/max-themes.net/demos/kingster/kingster/upload/footer-logo.png" alt="" />
                                        <br /> <span class="gdlr-core-space-shortcode" id="span_1dd7_10"></span>
                                        <br /> Box 35300
                                        <br /> 1810 Campus Way NE
                                        <br /> Bothell, WA 98011-8246
                                    </p>
                                    <p>
                                        <span id="span_1dd7_11">+1-2534-4456-345</span>
                                        <br /> <span class="gdlr-core-space-shortcode" id="span_1dd7_12"></span>
                                        <br /> <a id="a_1dd7_8" href="mailto:admin@kingsteruni.edu">admin@kingsteruni.edu</a>
                                    </p>
                                    <div class="gdlr-core-divider-item gdlr-core-divider-item-normal gdlr-core-left-align">
                                        <div class="gdlr-core-divider-line gdlr-core-skin-divider" id="div_1dd7_111"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="kingster-footer-column kingster-item-pdlr kingster-column-15">
                            <div id="gdlr-core-custom-menu-widget-2" class="widget widget_gdlr-core-custom-menu-widget kingster-widget">
                                <h3 class="kingster-widget-title">Манай сургууль</h3><span class="clear"></span>
                                <div class="menu-our-campus-container">
                                    <ul id="menu-our-campus" class="gdlr-core-custom-menu-widget gdlr-core-menu-style-plain">
                                        <li class="menu-item"><a href="#">Академик</a></li>
                                        <li class="menu-item"><a href="#">Төлөвлөлт ба захиргаа</a></li>
                                        <li class="menu-item"><a href="#">Сургуулийн аюулгүй байдал</a></li>
                                        <li class="menu-item"><a href="#">Захирлын алба</a></li>
                                        <li class="menu-item"><a href="#">Байгууламжийн үйлчилгээ</a></li>
                                        <li class="menu-item"><a href="#">Хүний нөөц</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="kingster-footer-column kingster-item-pdlr kingster-column-15">
                            <div id="gdlr-core-custom-menu-widget-3" class="widget widget_gdlr-core-custom-menu-widget kingster-widget">
                                <h3 class="kingster-widget-title">Оюутны амьдрал</h3><span class="clear"></span>
                                <div class="menu-campus-life-container">
                                    <ul id="menu-campus-life" class="gdlr-core-custom-menu-widget gdlr-core-menu-style-plain">
                                        <li class="menu-item"><a href="#">Хүртээмж</a></li>
                                        <li class="menu-item"><a href="#">Санхүүгийн тусламж</a></li>
                                        <li class="menu-item"><a href="#">Хоолны үйлчилгээ</a></li>
                                        <li class="menu-item"><a href="#">Орон байр</a></li>
                                        <li class="menu-item"><a href="#">Мэдээллийн технологи</a></li>
                                        <li class="menu-item"><a href="#">Оюутны амьдрал</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="kingster-footer-column kingster-item-pdlr kingster-column-15">
                            <div id="gdlr-core-custom-menu-widget-4" class="widget widget_gdlr-core-custom-menu-widget kingster-widget">
                                <h3 class="kingster-widget-title">Academics</h3><span class="clear"></span>
                                <div class="menu-academics-container">
                                    <ul id="menu-academics" class="gdlr-core-custom-menu-widget gdlr-core-menu-style-plain">
                                        <li class="menu-item"><a href="#">Canvas</a></li>
                                        <li class="menu-item"><a href="#">Catalyst</a></li>
                                        <li class="menu-item"><a href="#">Library</a></li>
                                        <li class="menu-item"><a href="#">Time Schedule</a></li>
                                        <li class="menu-item"><a href="#">Элсэлтэнд бүртгүүлэх</a></li>
                                        <li class="menu-item"><a href="#">Төлбөр төлөх</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="kingster-copyright-wrapper">
                    <div class="kingster-copyright-container kingster-container clearfix">
                        <div class="kingster-copyright-left kingster-item-pdlr">Copyright All Right Reserved 2019, Max Themes</div>
                        <div class="kingster-copyright-right kingster-item-pdlr">
                            <div class="gdlr-core-social-network-item gdlr-core-item-pdb  gdlr-core-none-align" id="div_1dd7_112">
                                <a href="#" target="_blank" class="gdlr-core-social-network-icon" title="facebook">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a href="#" target="_blank" class="gdlr-core-social-network-icon" title="google-plus">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                                <a href="#" target="_blank" class="gdlr-core-social-network-icon" title="linkedin">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                                <a href="#" target="_blank" class="gdlr-core-social-network-icon" title="skype">
                                    <i class="fa fa-skype"></i>
                                </a>
                                <a href="#" target="_blank" class="gdlr-core-social-network-icon" title="twitter">
                                    <i class="fa fa-twitter"></i>
                                </a>
                                <a href="#" target="_blank" class="gdlr-core-social-network-icon" title="instagram">
                                    <i class="fa fa-instagram"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
           
        </div>
    </div>



    <script type='text/javascript' src='../../im\max-themes.net\demos\kingster\kingster\js\jquery/jquery.js'></script>
    <script type='text/javascript' src='../../im\max-themes.net\demos\kingster\kingster\js\jquery/jquery-migrate.min.js'></script>
    <script type='text/javascript' src='../../im/max-themes.net/demo.goodlayers.com/kingster/wp-content/plugins/goodlayers-core/im/max-themes.net/demo.goodlayers.com/kingster/wp-content/plugins/combine/script.js'></script>

    <script type='text/javascript'>
        var gdlr_core_pbf = {
            "admin": "",
            "video": {
                "width": "640",
                "height": "360"
            },
            "ajax_url": "#"
        };
    </script>
    <script type='text/javascript' src='../../im/max-themes.net/demo.goodlayers.com/kingster/wp-content/plugins/goodlayers-core/include/js/page-builder.js'></script>

    <script type='text/javascript' src='../../im/max-themes.net/demos/kingster/kingster/js/jquery/ui/effect.min.js'></script>

    <script type='text/javascript'>
        var kingster_script_core = {
            "home_url": "index.html"
        };
    </script>
    <script type='text/javascript' src='../../im/max-themes.net/demos/kingster/kingster/js/plugins.min.js'></script>

</body>

</html>