@{
    ViewData["Title"] = "Home Page";
}


<div class="main-wrapper">
    <div class="row">

        <div class="col-md-6 login-bg">
            <div class="owl-carousel login-slide owl-theme aos" data-aos="fade-up">
                <div class="welcome-login">
                    <div class="login-banner">
                        <img src="~/template/html/assets/img/login-img.png" class="img-fluid" alt="Logo">
                    </div>
                    <div class="mentor-course text-center">
                        <h2>Тавтай морилно уу <br>DreamsLMS.</h2>
                        @*         <p>Өвчтөнд анхаарал халамж тавих, өвчтөнийг дагаж мөрдөх нь чухал боловч ажил ихтэй, өвдөлт ихтэй ийм үед тохиолддог. Олон жилийн турш би ирэх болно.</p> *@
                    </div>
                </div>
          @*       <div class="welcome-login">
                    <div class="login-banner">
                        <img src="~/template/html/assets/img/login-img.png" class="img-fluid" alt="Logo">
                    </div>
                    <div class="mentor-course text-center">
                        <h2>Welcome to <br>DreamsLMS Courses.</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                    </div>
                </div>
                <div class="welcome-login">
                    <div class="login-banner">
                        <img src="~/template/html/assets/img/login-img.png" class="img-fluid" alt="Logo">
                    </div>
                    <div class="mentor-course text-center">
                        <h2>Welcome to <br>DreamsLMS Courses.</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                    </div>
                </div> *@
            </div>
        </div>

        <div class="col-md-6 login-wrap-bg">

            <div class="login-wrapper">
                <div class="loginbox">
                    <div class="img-logo">
                        <img src="~/template/html/assets/img/logo.svg" class="img-fluid" alt="Logo">
                        <div class="back-home">
                            <a href="~/HOME/INDEX">НҮҮР</a>
                        </div>
                    </div>
                    <h1>Мартсан бол ?</h1>
                    <div class="reset-password">
                        <p>Нууц үгээ шинэчлэхийн тулд имэйлээ оруулна уу.</p>
                    </div>
                    <form action="login.html">
                        <div class="input-block">
                            <label class="form-control-label">И-МЭЙЛ</label>
                            <input type="email" class="form-control" placeholder="И-МЭЙЛ ОРУУЛНА УУ">
                        </div>
                        <div class="d-grid">
                            <button class="btn btn-start" type="submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>