@{
    ViewData["Title"] = "login";
}

@model edu.Models.User

<div class="main-wrapper log-wrap">
    <div class="row">

        <div class="col-md-6 login-bg">
            <div class="owl-carousel login-slide owl-theme">
                <div class="welcome-login">
                    <div class="login-banner">
                        <img src="~/template/html/assets/img/login-img.png" class="img-fluid" alt="Logo">
                    </div>
                    <div class="mentor-course text-center">
                        <h2>Тавтай морилно уу <br>DreamsLMS.</h2>
                @*         <p>Өвчтөнд анхаарал халамж тавих, өвчтөнийг дагаж мөрдөх нь чухал боловч ажил ихтэй, өвдөлт ихтэй ийм үед тохиолддог. Олон жилийн турш би ирэх болно.</p> *@
                    </div>
                </div>
              @*   <div class="welcome-login">
                    <div class="login-banner">
                        <img src="~/template/html/assets/img/login-img.png" class="img-fluid" alt="Logo">
                    </div>
                    <div class="mentor-course text-center">
                        <h2>Welcome to <br>DreamsLMS Courses.</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                    </div>
                </div>
                <div class="welcome-login">
                    <div class="login-banner">
                        <img src="~/template/html/assets/img/login-img.png" class="img-fluid" alt="Logo">
                    </div>
                    <div class="mentor-course text-center">
                        <h2>Welcome to <br>DreamsLMS Courses.</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                    </div>
                </div> *@
            </div>
        </div>

        <div class="col-md-6 login-wrap-bg">

            <div class="login-wrapper">
                <div class="loginbox">
                    <div class="w-100">
                        <div class="img-logo">
                            <img src="~/template/html/assets/img/logo.svg" class="img-fluid" alt="Logo">
                            <div class="back-home">
                                <a href="~/home/index">НҮҮР</a>
                            </div>
                        </div>
                        <h1>Бүртгүүлсэн бол нэвтэрнэ үү</h1>
                        <form asp-action="login">
                            <span style="color:red">  @ViewBag.err</span>
                            <div class="input-block">
                                <label class="form-control-label">Email</label>
                                <input asp-for="Username" type="email" class="form-control" placeholder="Enter your email address">
                            </div>
                            <div class="input-block">
                                <label class="form-control-label">Password</label>
                                <div class="pass-group">
                                    <input asp-for="Userpass" type="password" class="form-control pass-input" placeholder="Enter your password">
                                    <span class="feather-eye toggle-password"></span>
                                </div>
                            </div>
                            <div class="forgot">
                                <span><a class="forgot-link" href="~/HOME/FORGOT">Мартсан бол ?</a></span>
                            </div>
                          @*   <div class="remember-me">
                                <label class="custom_check mr-2 mb-0 d-inline-flex remember-me">
                                    Remember me
                                    <input type="checkbox" name="radio">
                                    <span class="checkmark"></span>
                                </label>
                            </div> *@
                            <div class="d-grid">
                                <button class="btn btn-primary btn-start" type="submit">Нэвтрэх</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="google-bg text-center">
                @*     <span><a href="#">Or sign in with</a></span>
                    <div class="sign-google">
                        <ul>
                            <li><a href="#"><img src="~/template/html/assets/img/net-icon-01.png" class="img-fluid" alt="Logo"> Sign In using Google</a></li>
                            <li><a href="#"><img src="~/template/html/assets/img/net-icon-02.png" class="img-fluid" alt="Logo">Sign In using Facebook</a></li>
                        </ul>
                    </div> *@
                    <p class="mb-0">Шинэ хэрэглэгч болох? <a href="~/HOME/REGISTER">БҮРТГЭЛ</a></p>
                </div>
            </div>

        </div>
    </div>
</div>