@model IEnumerable<edu.Models.NewsList>
@inject edu_portal_dbContext Contex
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layoutadmin.cshtml";
    var txtname = Contex.NewsCats.SingleOrDefault(vs => vs.Id == Int32.Parse(ViewData["newsid"].ToString())).Txtname;
}

<h1>@txtname</h1>

<p>
    <a href="~/NewsLists/Create?sid=@ViewData["newsid"].ToString()">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Txtname)
            </th>
          
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Txtname)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.Cat.Id)
            </td>
            <td>
                    <a href="~/NewsLists/Edit/@item.Id?sid=@ViewData["newsid"].ToString()">Edit</a> |

                    <a href="~/NewsLists/delete/@item.Id?sid=@ViewData["newsid"].ToString()">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
