@using System.Web
@model IEnumerable<edu.Models.NewsList>
@inject edu_portal_dbContext Contex
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layoutnews.cshtml";
   // var txtname = Contex.NewsCats.SingleOrDefault(vs => vs.Id == Int32.Parse(ViewData["newsid"].ToString())).Txtname;
}



<section class="course-content" style="transform: none;">
    <div class="container" style="transform: none;">
        <div class="row" style="transform: none;">
            <div class="col-lg-9 col-md-12">
                <div class="row">

                    @* <h1>@txtname</h1> *@


                    @foreach (var item in Model)
                    {

                        <div class="col-md-6 col-sm-12">

                            <div class="blog grid-blog">
                             @*    <div class="blog-image">
                                    <a href="/NewsLists/read/@item.Id">
                                        <img class="img-fluid" src="~/@item.i" alt="Post Image"></a>
                                </div> *@
                                <div class="blog-grid-box">
                                    <div class="blog-info clearfix">
                                      @*   <div class="post-left">
                                            <ul>
                                                <li><img class="img-fluid" src="assets/img/icon/icon-22.svg" alt="">Jun 14, 2024</li>
                                                <li><img class="img-fluid" src="assets/img/icon/icon-23.svg" alt="">Admin</li>
                                            </ul>
                                        </div> *@
                                    </div>
                                    <h3 class="blog-title"><a href="/NewsLists/read/@item.Id">  @Html.DisplayFor(modelItem => item.Txtname)</a></h3>
                                    <div class="blog-content blog-read">
                                        <p>@Html.Raw(HttpUtility.HtmlDecode(item.Txtmore)) […]</p>
                                        <a href="/NewsLists/read/@item.Id" class="read-more btn btn-primary">Унших</a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    }
                </div>
              </div>
        </div>
    </div>
</section>