@using System.Web
@model edu.Models.NewsList

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layoutnews.cshtml";
}

<section class="course-content" style="transform: none;">
    <div class="container" style="transform: none;">
        <div class="row" style="transform: none;">
            <div class="col-lg-9 col-md-12">
                <div class="row">

                    <div class="blog">
                       

                        <h3 class="blog-title"> @Html.DisplayFor(model => model.Txtname)</h3>
                        <div class="blog-content">
                            @Html.Raw(HttpUtility.HtmlDecode(Model.Txtcontent))
                        </div>
                    </div>

                </div>

    

            </div>

       
    </div>
</section>