@model edu.Models.User

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layoutteacher.cshtml";
}

<h1>Create</h1>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Userpass" class="control-label"></label>
                <input asp-for="Userpass" class="form-control" />
                <span asp-validation-for="Userpass" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rolename" class="control-label"></label>
                <input asp-for="Rolename" class="form-control" />
                <span asp-validation-for="Rolename" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UniId" class="control-label"></label>
                <input asp-for="UniId" class="form-control" />
                <span asp-validation-for="UniId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CrDate" class="control-label"></label>
                <input asp-for="CrDate" class="form-control" />
                <span asp-validation-for="CrDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
