@model IEnumerable<edu.Models.GroupLesson>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layoutstudentpublic.cshtml";
}


<div class="settings-inner-blk p-0">
    <div class="sell-course-head comman-space">
        <h3>Хичээлүүд</h3>
  
    </div>
    <div class="comman-space pb-0">
 
        <div class="settings-tickets-blk course-instruct-blk table-responsive">
            <p>
                <a asp-action="Create">Create New</a>
            </p>
            <table class="table">
            
              
            </table>

            <table class="table table-nowrap mb-2">
                <thead>
                    <tr>
                        <th>COURSES</th>
                        <th>STUDENTS</th>
                        <th>STATUS</th>
                    </tr>
                </thead>
                <tbody>

            
                        @foreach (var item in Model)
                        {
                        <tr>


                            <td>
                                <div class="sell-table-group d-flex align-items-center">
                                    <div class="sell-group-img">
                                        <a href="course-details.html">
                                            <img src="~/template/html/assets/img/course/course-10.jpg" class="img-fluid " alt="">
                                        </a>
                                    </div>
                                    <div class="sell-tabel-info">
                                        <p><a href="course-details.html"> @Html.DisplayFor(modelItem => item.Name)</a></p>
                                        <div class="course-info d-flex align-items-center border-bottom-0 pb-0">
                                            <div class="rating-img d-flex align-items-center">
                                                <img src="~/template/html/assets/img/icon/icon-01.svg" alt="">
                                                <p>10+ Lesson</p>
                                            </div>
                                            <div class="course-view d-flex align-items-center">
                                                <img src="~/template/html/assets/img/icon/timer-start.svg" alt="">
                                              
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>3200</td>
                            <td>
                                <a asp-controller="lessons" asp-action="indexstudent" asp-route-id="@item.Id">Үзэх</a> 
                            </td>



                
                        </tr>
                        }
               
               
                </tbody>
            </table>

        </div>
    </div>
</div>
