@model IEnumerable<edu.Models.GroupLesson>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layoutstudent.cshtml";
}


<div class="container">
    <div class="row">
               @foreach (var item in Model)
                            {
                                <div class="col-lg-4">

                                            <div class="category-box">
                                                <div class="category-title">  <div class="category-img">
                                                    <img src="~/template/html/assets/img/category/category-01.jpg" alt="">

                                                    </div>
                        <h5> <a asp-controller="lessons" asp-action="indexstudentpub" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a> </h5>
                                                </div>
                                                <div class="cat-count">
                                                    <span>25</span>
                                                </div>
                                            </div>
                                </div>
                            }

    </div>
</div>