@{
    ViewData["Title"] = "Багш";
    Layout = "~/Views/Shared/_Layoutteacher.cshtml";
}
@model edu.Models.User
<div class="settings-inner-blk p-0">
    <div class="sell-course-head comman-space">
        <h3>Best Selling Courses</h3>
    </div>
    <div class="comman-space pb-0">
        <div class="settings-tickets-blk course-instruct-blk table-responsive">

            <table class="table table-nowrap">
                <thead>
                    <tr>
                        <th>COURSES</th>
                        <th>SALES</th>
                        <th>AMOUNT</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div class="sell-table-group d-flex align-items-center">
                                <div class="sell-group-img">
                                    <a href="course-details.html">
                                        <img src="~/template/html/assets/img/course/course-10.jpg" class="img-fluid " alt="">
                                    </a>
                                </div>
                                <div class="sell-tabel-info">
                                    <p><a href="course-details.html">Information About UI/UX Design Degree</a></p>
                                </div>
                            </div>
                        </td>
                        <td>34</td>
                        <td>$3,145.23</td>
                    </tr>
                    <tr>
                        <td>
                            <div class="sell-table-group d-flex align-items-center">
                                <div class="sell-group-img">
                                    <a href="course-details.html">
                                        <img src="~/template/html/assets/img/course/course-11.jpg" class="img-fluid " alt="">
                                    </a>
                                </div>
                                <div class="sell-tabel-info">
                                    <p><a href="course-details.html">Wordpress for Beginners - Master Wordpress Quickly</a></p>
                                </div>
                            </div>
                        </td>
                        <td>34</td>
                        <td>$3,145.23</td>
                    </tr>
                    <tr>
                        <td>
                            <div class="sell-table-group d-flex align-items-center">
                                <div class="sell-group-img">
                                    <a href="course-details.html">
                                        <img src="~/template/html/assets/img/course/course-12.jpg" class="img-fluid " alt="">
                                    </a>
                                </div>
                                <div class="sell-tabel-info">
                                    <p><a href="course-details.html">Sketch from A to Z (2022): Become an app designer</a></p>
                                </div>
                            </div>
                        </td>
                        <td>34</td>
                        <td>$3,145.23</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>