@{
    ViewData["Title"] = "Суралцагч";
    Layout = "~/Views/Shared/_Layoutstudent1.cshtml";
}


<div class="student-widget">
    <div class="student-widget-group">
        <div class="row">
            <div class="col-lg-12">

                <div class="showing-list">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="show-filter choose-search-blk">
                                <form action="#">
                                    <div class="mycourse-student align-items-center">
                                        <div class="student-search">
                                            <div class=" search-group">
                                                <i class="feather-search"></i>
                                                <input type="text" class="form-control" placeholder="Search our courses">
                                            </div>
                                        </div>
                                        <div class="student-filter">
                                            <div class="input-block select-form mb-0">
                                                <select class="form-select select" name="sellist1">
                                                    <option>Newly published </option>
                                                    <option>Angular</option>
                                                    <option>React</option>
                                                    <option>Node</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xl-3 col-lg-4 col-md-6 d-flex">
                        <div class="course-box course-design d-flex ">
                            <div class="product">
                                <div class="product-img">
                                    <a href="course-details.html">
                                        <img class="img-fluid" alt="" src="assets/img/course/course-13.jpg">
                                    </a>
                                    <div class="price">
                                        <h3 class="free-color">FREE</h3>
                                    </div>
                                </div>
                                <div class="product-content">
                                    <div class="course-group d-flex">
                                        <div class="course-group-img d-flex">
                                            <a href="student-profile.html"><img src="assets/img/user/user1.jpg" alt="" class="img-fluid"></a>
                                            <div class="course-name">
                                                <h4><a href="student-profile.html">Rolands R</a></h4>
                                                <p>Instructor</p>
                                            </div>
                                        </div>
                                        <div class="course-share d-flex align-items-center justify-content-center">
                                            <a href="#rate"><i class="fa-regular fa-heart"></i></a>
                                        </div>
                                    </div>
                                    <h3 class="title"><a href="course-details.html">Information About UI/UX Design Degree</a></h3>
                                    <div class="course-info d-flex align-items-center border-bottom-0 pb-0">
                                        <div class="rating-img d-flex align-items-center">
                                            <img src="assets/img/icon/icon-01.svg" alt="">
                                            <p>12+ Lesson</p>
                                        </div>
                                        <div class="course-view d-flex align-items-center">
                                            <img src="assets/img/icon/icon-02.svg" alt="">
                                            <p>9hr 30min</p>
                                        </div>
                                    </div>
                                    <div class="rating">
                                        <i class="fas fa-star filled"></i>
                                        <i class="fas fa-star filled"></i>
                                        <i class="fas fa-star filled"></i>
                                        <i class="fas fa-star filled"></i>
                                        <i class="fas fa-star"></i>
                                        <span class="d-inline-block average-rating"><span>4.0</span> (15)</span>
                                    </div>
                                    <div class="all-btn all-category d-flex align-items-center">
                                        <a href="checkout.html" class="btn btn-primary">BUY NOW</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 d-flex">
                        <div class="course-box course-design d-flex ">
                            <div class="product">
                                <div class="product-img">
                                    <a href="course-details.html">
                                        <img class="img-fluid" alt="" src="assets/img/course/course-14.jpg">
                                    </a>
                                    <div class="price">
                                        <h3>$300 <span>$99.00</span></h3>
                                    </div>
                                </div>
                                <div class="product-content">
                                    <div class="course-group d-flex">
                                        <div class="course-group-img d-flex">
                                            <a href="student-profile.html"><img src="assets/img/user/user1.jpg" alt="" class="img-fluid"></a>
                                            <div class="course-name">
                                                <h4><a href="student-profile.html">Rolands R</a></h4>
                                                <p>Instructor</p>
                                            </div>
                                        </div>
                                        <div class="course-share d-flex align-items-center justify-content-center">
                                            <a href="#rate"><i class="fa-regular fa-heart"></i></a>
                                        </div>
                                    </div>
                                    <h3 class="title"><a href="course-details.html">Information About UI/UX Design Degree</a></h3>
                                    <div class="course-info d-flex align-items-center border-bottom-0 pb-0">
                                        <div class="rating-img d-flex align-items-center">
                                            <img src="assets/img/icon/icon-01.svg" alt="">
                                            <p>12+ Lesson</p>
                                        </div>
                                        <div class="course-view d-flex align-items-center">
                                            <img src="assets/img/icon/icon-02.svg" alt="">
                                            <p>9hr 30min</p>
                                        </div>
                                    </div>
                                    <div class="rating">
                                        <i class="fas fa-star filled"></i>
                                        <i class="fas fa-star filled"></i>
                                        <i class="fas fa-star filled"></i>
                                        <i class="fas fa-star filled"></i>
                                        <i class="fas fa-star"></i>
                                        <span class="d-inline-block average-rating"><span>4.0</span> (15)</span>
                                    </div>
                                    <div class="all-btn all-category d-flex align-items-center">
                                        <a href="checkout.html" class="btn btn-primary">BUY NOW</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 d-flex">
                        <div class="course-box course-design d-flex ">
                            <div class="product">
                                <div class="product-img">
                                    <a href="course-details.html">
                                        <img class="img-fluid" alt="" src="assets/img/course/course-15.jpg">
                                    </a>
                                    <div class="price">
                                        <h3>$300 <span>$99.00</span></h3>
                                    </div>
                                </div>
                                <div class="product-content">
                                    <div class="course-group d-flex">
                                        <div class="course-group-img d-flex">
                                            <a href="student-profile.html"><img src="assets/img/user/user1.jpg" alt="" class="img-fluid"></a>
                                            <div class="course-name">
                                                <h4><a href="student-profile.html">Rolands R</a></h4>
                                                <p>Instructor</p>
                                            </div>
                                        </div>
                                        <div class="course-share d-flex align-items-center justify-content-center">
                                            <a href="#rate"><i class="fa-regular fa-heart"></i></a>
                                        </div>
                                    </div>
                                    <h3 class="title"><a href="course-details.html">Information About UI/UX Design Degree</a></h3>
                                    <div class="course-info d-flex align-items-center border-bottom-0 pb-0">
                                        <div class="rating-img d-flex align-items-center">
                                            <img src="assets/img/icon/icon-01.svg" alt="">
                                            <p>12+ Lesson</p>
                                        </div>
                                        <div class="course-view d-flex align-items-center">
                                            <img src="assets/img/icon/icon-02.svg" alt="">
                                            <p>9hr 30min</p>
                                        </div>
                                    </div>
                                    <div class="rating">
                                        <i class="fas fa-star filled"></i>
                                        <i class="fas fa-star filled"></i>
                                        <i class="fas fa-star filled"></i>
                                        <i class="fas fa-star filled"></i>
                                        <i class="fas fa-star"></i>
                                        <span class="d-inline-block average-rating"><span>4.0</span> (15)</span>
                                    </div>
                                    <div class="all-btn all-category d-flex align-items-center">
                                        <a href="checkout.html" class="btn btn-primary">BUY NOW</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>